<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <display-name>Tienda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoAdminServlet</display-name>
    <servlet-name>ListadoAdminServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.admin.ListadoAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoAdminServlet</servlet-name>
    <url-pattern>/ListadoAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eliminarProductoServlet</display-name>
    <servlet-name>eliminarProductoServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.admin.eliminarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eliminarProductoServlet</servlet-name>
    <url-pattern>/eliminarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarProductoServlet</display-name>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.admin.ModificarProductoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarProductoServlet</servlet-name>
    <url-pattern>/ModificarProductoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarProdutoServlet</display-name>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <servlet-class>com.tienda.presentacion.backend.admin.EditarProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarProdutoServlet</servlet-name>
    <url-pattern>/EditarProdutoServlet</url-pattern>
  </servlet-mapping>
</web-app>